In [1]:
from gcp_nlp import Tda

In [2]:
import pandas as pd
df = pd.read_json('results-20210401-165016.json')
df.head(1)

,API,GUID,SUID,APISTAMP,ID,DOCID,CHANNEL,PID,SITE_SEQ,SITE_NAME,...,CONTENT,FILE_INFO,WRITER,WRITER_ID,WRITEDATE,WRITETIME,WRITESTAMP,KEYWORD,RATE,JSON_DATA
0,RSN_KEYWORD,20210223-184727,1.080560e+21,2021-02-23T20:58:15.992125,1080560378,8422026744,카페,NaN,4943,다음카페,...,"‘소형’ 마이너스 갭투자까지 경기권 깡통전세 주의보 \n전셋값, 매맷값보다 높은 ...",[],f6bc57f9b5c1c484d7e6ceb6b93f3157,,2021-02-19,14:59:00,2021-02-19T14:59:00,"갭투자,계약,국민은행,담보,대출,리브,리브온,매매,매물,보증금,상승,세금,세입자,아...",NaN,"{'IMAGEINFO': [], 'LINKINFO': [{'url': 'https:..."

In [3]:
df[df['CRAWLDATE']!=df['WRITEDATE']]

Empty DataFrame
Columns: [API, GUID, SUID, APISTAMP, ID, DOCID, CHANNEL, PID, SITE_SEQ, SITE_NAME, BOARD_NAME, INFOTYPE, CRAWLDATE, CRAWLTIME, CRAWLSTAMP, TITLE, URL, CONTENT, FILE_INFO, WRITER, WRITER_ID, WRITEDATE, WRITETIME, WRITESTAMP, KEYWORD, RATE, JSON_DATA]
Index: []

[0 rows x 27 columns]

In [4]:
# df['CONTENT'] = df['CONTENT'].map(lambda x: x.replace('\n', ' '))
df['CONTENT'][0]

'‘소형’ 마이너스 갭투자까지 경기권 깡통전세 주의보  \n전셋값, 매맷값보다 높은 곳 속출\n“세입자도 투자자도 유의해야”\n\n정부의 적극적인 투기수요 억제 정책에도 경기권 소형 아파트를 중심으로 ‘갭투자’가 줄지 않는 모양새다. 전세가격 상승으로 매맷값과 전셋값의 격차가 줄면서 전세를 끼고 집을 사거나 입주 가능한 매물을 사들여 새로 전세를 놓는 식이다.\n\n일부 지역에선 매맷값보다 비싸게 전세를 주는 ‘마이너스 갭투자’까지 속출하고 있어 ‘깡통전세’에 대한 우려의 목소리가 나온다. 깡통전세는 담보대출과 전세 보증금이 매매가를 웃돌아 전세 계약이 끝난 뒤 전세금을 돌려받지 못하는 상태를 말한다.\n\n19일 kb국민은행 리브온에 따르면 지난달 경기도의 아파트 전세가율(매맷값 대비 전셋값 비율)은 71.7%를 기록했다. 전달(72.3%)보다는 소폭 감소했으나 여전히 높은 수준을 유지했다.\n\n광주가 81.8%로 가장 높았으며 동두천도 80.8%로 80% 선을 상회했다. 이 밖에 ▷이천 78.1% ▷용인 처인구 77.6% ▷평택 77.5% ▷오산 77.1% ▷고양 일산동구 76.2% ▷고양 일산서구 76.1% 등이 75% 이상의 높은 전세가율을 보였다.…헤럴드경제 신문15면  3시간전'

In [5]:
tda = Tda(df['CONTENT'][0])
tda

In [6]:
tda.entities.head(10)

          salience  count
name
전세        0.101864      5
전셋값       0.063576      3
매맷값       0.059590      4
경기권       0.049858      2
마이너스 갭투자  0.043363      2
깡통전세      0.041316      2
경기도       0.022095      1
전세가율      0.021090      2
이천        0.018953      2
일산동구      0.018452      1

In [ ]:
tda.sentences

In [ ]:
tda.tokens

In [ ]:
tda.sentiment

In [ ]:
tda.categories

In [ ]:
tda.result

In [ ]:
import json

with open(f"data/{0}.json", "w", encoding="UTF-8") as f:
    json.dump(tda.result, f, indent=2, sort_keys=True, ensure_ascii=False)

In [ ]:
type(tda.result)

In [ ]:
with open(f"data/{0}.json", "r", encoding="UTF-8") as f:
    print(type(json.load(f)))

In [7]:
tda2 = Tda(path='data/0.json')

In [8]:
tda2.entities.head(10)

          salience  count
name
전세        0.101864      5
전셋값       0.063576      3
매맷값       0.059590      4
경기권       0.049858      2
마이너스 갭투자  0.043363      2
깡통전세      0.041316      2
경기도       0.022095      1
전세가율      0.021090      2
이천        0.018953      2
일산동구      0.018452      1